@tailwind base;
@tailwind components;
@tailwind utilities;


/* for SVG1 component*/
.svg1{
    position: absolute;
    left: 0;
    top: 0;
    /* width="1335" height="110" */

    width: 90%;
}

.main-svg{
    position: fixed;
    left: 0;
    top: 0;
    width: 90%;

    display: flex;
    align-items: center;

    z-index: -1;
}
