@tailwind base;
@tailwind components;
@tailwind utilities;


/* for SVG1 component*/
.svg1{
    position: absolute;
    left: 0;
    top: 0;
    /* width="1335" height="110" */

    width: 90%;
}

/* .main-svg{
    position: fixed;
    left: 0;
    top: 0;
    width: 90%;

    display: flex;
    align-items: center;

    z-index: -1;
} */
.main-svg {
    position: fixed;
    /* left: 0; */
    top: 0;
    right: +10%;
    /* left: 0; */
    width: 1657px;
    height: 78px;
    /* width="1657" height="78"  */

    z-index: -1;
}

/* .testbg{
    position: relative;
    width:200px;
    height:200px;
    font-size: 2rem;
    content: url(/test2.svg);

    background-image: url(/test2.svg);
}

.testbg img{
    position: absolute;
    top: 0;
} */


.testbg{
    position: relative;
    width:200px;
    height:200px;
    font-size: 2rem;
    /* content: url(/test2.svg); */

    /* background-image: url(/vec49.svg), url(/vec50.svg); */
}


.testtext{
    font-size: 2rem;
    /* position: relative; */
    /* transform: translate(0,+35px); */
    transform: scaleY(4);
}



    /* width="1335" height="110" */
.bg_svg{
    /* position: absolute;
    left: 0;
    top: 0;
    width: 90%; */
    position: absolute;
    right: +10%;
    top: 0;
    width: 1335px;
    min-width: 1335px;
    height: 110px;
}

.user_svg {
    display: block;
    width: 80px;
    height: 80px;
}