.main {

}

.main-wrapper {
    margin: auto;
    margin-top: 140px;
    max-width: 1380px;

    background-color: aquamarine;
    box-shadow: 0px 0px 10px #8EA0AD;
}


.content{
    position: relative;
    
    margin: 0 16px;
    margin: 1rem;
    /* this min height is temp */
    min-height: 100px;

    /* background-color: #8EA0AD; */
}
.content__inner {
    padding: 0 2rem;
    padding-bottom: 2em;
    background-color: white;
}



.content__title {
    position: relative;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #01457A;
}


.block-info {
    position: relative;
    
    padding: 1rem;

    border: #1789e0 solid 2px;
    border-radius: 20px;

    min-height: 100px;
}

.block-info__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
}

.block-info__checkbox-flag {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    transform: translate(+50%,-50%);
    border-radius: 50%;
    background-color: #01457A;

    cursor: pointer;
}

.flag2 {
    background-color: #BCD77E;
}

.block-info__checkbox:checked + .block-info__checkbox-flag{
    filter: saturate(2);
}


.block-info__info {

}


/* .bloo{
    position: absolute;
    width: 295px;
    height: 114.5px;
    left: 147px;
    top: 40px;

    background: linear-gradient(270deg, #D8EFFF 0%, #FFFFFF 100%);

} */
.bloo{
    position: relative;
}
.bloo svg{
    position: absolute;
}
/* position: absolute;
width: 295px;
height: 114.5px;
left: 147px;
top: 40px;

background: linear-gradient(270deg, #D8EFFF 0%, #FFFFFF 100%); */


/* position: absolute;
width: 295px;
height: 113.5px;
left: 147px;
top: 40px; */

