.main {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-wrapper {
    display: flex;
    flex-direction: column;

    /* margin: auto; */
    margin: 0 2rem;
    margin-top: 8rem;
    
    max-width: 1380px;

    background-color: white;
    box-shadow: 0px 0px 10px #858585;
}

.content{
    position: relative;

    padding: 1rem 3rem;
    overflow: auto;
}


.content__title {
    position: relative;
    margin-bottom: 3rem;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #01457A;
}


.block-info {
    position: relative;

    /* display: flex;
    justify-content: space-around; */

    margin-bottom: 2rem;

    border: #1789e0 solid 2px;
    border-radius: 20px;

    min-height: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px #1a1616;
}

.block-info__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
}

.block-info__checkbox-flag {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    transform: translate(+50%,-50%);
    border-radius: 50%;
    background-color: #01457A;

    cursor: pointer;
}

.flag2 {
    background-color: #BCD77E;
}

.block-info__checkbox:checked + .block-info__checkbox-flag{
    filter: saturate(2);
}



.block-info__preview{
    display: flex;
    padding: 1rem;
}
.block-info__view{
    display: none;
    padding: 1rem;
}


.block-info__checkbox:checked ~ .block-info__preview{
    display: none;
}
.block-info__checkbox:checked ~ .block-info__view{
    display: block;
}


.block-info__view__title{
    text-align: center;
}



.block-info__view__text{
    line-height: 1.25;
    font-size: 24px;
    color: #01457A;
    margin-bottom: 1rem;
}


.block-info__list{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.block-info__item{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 24rem;

    padding: 1rem 2rem;

    border-radius: 1rem;
    background-color: rgba(253, 217, 102,.25);
}

.block-info__item img{
    display: block;

    height: 132px;
}
.block-info__item h3{
    font-size: 4rem;
    font-weight: 600;
    color: #01457A;
}
.block-info__item span{
    display: inline-block;
    font-size: 1.5rem;
    /* font-weight: 600; */
    color: #01457A;

    text-align: center;
}

.block-info__item .second-text{
    font-size: 1rem;
}




.block-info__info {
    display: flex;
    /* height: 70px; */
}
.block-info__block{
    position: relative;
    width: 297px;
    height: 116px;
    padding: 1rem;
}
.block-info__block > span{
    position: relative;
    /* display: block; */
    /* height: 40px; */
    line-height: 1;
    font-size: 24px;
    color: #01457A;
    width: 400px;

}
.bolt{
    font-weight: 700;
}
/* width="297" height="116" */
.bg_vec49{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.block-info__text{
    font-size: 24px;
    color: #01457A;
    
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );

    mask-image: linear-gradient(
        to top,
        rgb(255,255,255,0) 0%,
        transparent calc(100% - 8rem),
        white
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}


/* .bloo{
    position: absolute;
    width: 295px;
    height: 114.5px;
    left: 147px;
    top: 40px;

    background: linear-gradient(270deg, #D8EFFF 0%, #FFFFFF 100%);

} */
.bloo{
    position: relative;
}
.bloo svg{
    position: absolute;
}

/* background: linear-gradient(270deg, #D8EFFF 0%, #FFFFFF 100%); */
